<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Soldier</title>
</head>
<body>
    <header>
        <nav th:replace="nav::navbar">
            <a href="index.html">Front page</a>
            <a href="soldiers.html">Soldiers</a>
        </nav>
    </header>
    <main>
        <ul>
            <li th:text="${soldier.id}">0</li>
            <li th:text="${soldier.rank}">private</li>
            <li th:text="${soldier.birth}">2001-12-12</li>
            <li th:text="${soldier.weapon}">hands</li>
            <li th:text="${soldier.shotpeople}">0</li>
        </ul>
        <form method="post" action="/soldiers">
            <label>shotted enemies</label>
            <input type="hidden" name="id" th:value="${soldier.id}">
            <input type="number" name="shotpeople" th:value="${soldier.shotpeople}" th:min="${soldier.shotpeople}">
            <input type="hidden" name="_method" value="patch">
            <input type="submit" value="edit">
        </form>
        <hr>
        <a th:href="'/soldiers/replace/'+${soldier.id}">replace soldier</a>
    </main>
</body>
</html>